# Configuration Publique Supabase
NEXT_PUBLIC_SUPABASE_URL=https://tvubyxieepgxponzpvqy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_D86NMwGQ1WQa5eptA31eJQ_YqJKQTWX
# Configuration Pi Network
NEXT_PUBLIC_PI_SANDBOX=true

# Configuration Serveur Privée (Ne JAMAIS exposer au client)
SUPABASE_SERVICE_ROLE_KEY=sb_secret_gIQY8CyEwZMzU6OWu8069Q_AvHqSNyu
PI_API_KEY=6rwlx6czcl9gujdimhgij4a42wil30ewtq9nuaspe9dxizd0qv6ebfbh9hge2fzp
