# Configuration Publique Supabase
NEXT_PUBLIC_SUPABASE_URL=https://your-supabase-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key

# Configuration Pi Network
NEXT_PUBLIC_PI_SANDBOX=true

# Configuration Serveur Privée (Ne JAMAIS exposer au client)
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key
PI_API_KEY=6rwlx6czcl9gujdimhgij4a42wil30ewtq9nuaspe9dxizd0qv6ebfbh9hge2fzp
